

<div style="text-align:center">
<a [routerLink]="['seattle']"> Home </a>

  <h1>
    Welcome to {{title}}!
  </h1>

<h3>Click on a City to see the weather forcast</h3>
<br>
<a [routerLink]="['seattle']"> Seattle, WA </a>
<br>
<a [routerLink]="['sanJose']"> San Jose, CA </a>
<br>
<a [routerLink]="['chicago']"> Chicago, IL </a>
<br>
<a [routerLink]="['dallas']"> Dallas, TX </a>
<br>
<a [routerLink]="['dc']"> Washington, DC </a>
<br>
<a [routerLink]="['burbank']"> Burbank, CA </a>
<br>
<router-outlet></router-outlet>
